body{
    background-color: aquamarine;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menucard{
    width: 600px;
    height: 650px;
    background-color:white;
    border-radius: 12px;
    border: 2px solid black;
    display:none;
}
.menucard p{
    font-size: 20px;
    margin-top: 60px;
    margin-left: 30px;
    color: black;
}
.menucard h1{
    margin-left: 170px;
}
.menucard button{
     width: 200px;
    height: 40px;
    margin-left: 200px;
    gap: -20px;
    background-color: cadetblue;
}
.question{
    background-color: white;
    width: 550px;
    height: 150px;
    border-radius: 12px;
    border: 2px solid black;
    box-shadow: 0px 2px 5px grey;     
}
.question p{
    font-size: 22px;
    text-align: center;
    color: black;
    margin-top: 15px;
}
.question button{
    width: 200px;
    height: 40px;
    margin-left: 45px;
    gap: -20px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    background-color: aquamarine;
    width:1385px;
    margin-left: -20px;
    margin-top: -10px;
    height: 636px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing_page{
    background-color:black;
    width:1385px;
    margin-left: -20px;
    margin-top: -10px;
    text-align: center;
    height: 656px;
}
.landing_page h1{
    font-size: 60px;
    color: white;
    margin-top: -20px;
}
    .landing_page button{
    width: 180px;
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 9px;
    height: 60px;
}
p{
     color: white;
    font-size: 40px;
    margin-top: 190px;
}
.order{
        background-color: white;
    height: 200px;
    width: 500px;
    border-radius: 12px;
    text-align: center;
    display: none;
}
.order button{
    width: 200px;
    height: 40px;
    margin-left:0px;
    gap: -20px;
    background-color: cadetblue;
    margin-top: 20px;
}
.order input{
    width: 450px;
    height: 30px;

}
 .order-box {
            margin-top: 30px;
            padding: 20px;
            border: 2px solid #4CAF50;
            background-color: #f9fff9;
            display: none;
            height: 200px;
        }
.order-box p{
    color: black;
    font-size: 30px;
    margin-top: 10px;
}  
#btn{
    width: 200px;
    height: 40px;
    margin-left:250px;
    background-color: cadetblue;
    margin-top: 20px;
}  
.Payment{
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #4CAF50;
    background-color: #f9fff9;
    display: none;
    width: 500px;
}
.Payment input{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.Payment h1{
    margin-top: 10px;
    margin-left: 200px;
} 
.Payment button{
      width: 505px;
    height: 40px;
    background-color: cadetblue;
    margin-top: 20px;
    cursor: pointer;
}   


 